.border {
    border : 2px solid red
}
.container {
    width: 70%;
    margin: auto;
    text-align: center;
    height: 80vh;
    margin-top: 4vh;
    
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: grey;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #9c2626;
  }
  
  p {
    font-size: 2rem;
    color: #32409a;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }